.container {
    max-width: 1270px;
}

.content{
    height: 100vh;
}

.mainSection {
    background-color: #232e3f;
    display: flex;
    align-items: center;
    height: 90vh;
}

.socialSection {
    background-color: #223a61;
}

.py30 {
    padding: 30vh 0;
}

.py5 {
    padding: 5vh 0;
}